.last-section{
    
}


.last-section__heading{
    width: 1070px;
    margin: 0 auto 30px;
}

.last-section__title{
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #253238;
}

.last-section__subtitle{
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #35C5D4;
}

.last-section__slider-background{
    margin: 0 auto;
    width: 1070px;
    height: 220px;
    background: linear-gradient(125.77deg, #35C5D4 3.58%, #05315B 78.9%);
    border-radius: 10px;

}