@import './normalize.scss';
@import './sections/firstblock.scss';
@import './sections/skills.scss';

body{
    font-family: 'Roboto', sans-serif;
  }

  .container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  








 

  